.mainPage {
    display: flex;
    flex-direction: column;
}

.mainPageRow {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 3fr 3fr 1fr;
}

.mainPageCell {
    display: flex;
    flex-direction: column;

    padding-right: 16px;
}

.selectFieldsRow {
    margin-bottom: 32px;
}

.syncedChannel {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--main-color-5);
}

.syncedChannelRow {
    margin-bottom: 24px;
}

.syncedChannelName {
    margin-left: 8px;
}

.actionPendingIconWithText {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 0.8rem;
}

.warningText {
    color: var(--warning-color);

    margin-top: 6px;
    align-self: flex-end;
    font-size: 13px;
    line-height: 18px;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}