<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="net.logstash.logback.layout.LoggingEventCompositeJsonLayout">
            <lineSeparator>SYSTEM</lineSeparator>
            <providers>
                <sequence />
                <timestamp pattern="yyyy-MM-dd' 'HH:mm:ss.SSS" />
                <loggerName />
                <logLevel />
                <threadName />
                <rawMessage />
                <message />
                <mdc />
                <arguments />
                <throwableClassName />
                <throwableMessage />
                <throwableRootCauseClassName />
                <throwableRootCauseMessage />
                <stackTrace />
            </providers>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="Exposed" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <!-- For troubleshooting next deployment -->
    <logger name="org.jetbrains.spaceSlackSync" level="TRACE"/>

</configuration>
